*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{ padding: 20px 0 0 20px; }

/* SECCION DE PELICULAS SEPARADS POR AÑOS */
.seccion{
    margin-top: 30px;
    width: 100%;
    height: 350px;
    padding: 0 20px;
}
.seccion div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9a9a9a;
}
.seccion div a{
    width: 175px;
    height: 320px;
    background-color: #cdcdcd;
    color: #010101;
    text-decoration: none;
    text-align: center;
}
.seccion div a img{ width: 175px; }
.seccion div a h3{
    padding-top: 5px;
    font-weight: bolder;
}