*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    user-select: none;
    color: rgb(255, 165, 0);
    margin: 10px 0 0 20px;
    font-weight: bold;
}
h2{
    margin: 10px 0 0 20px;
    font-size: 22px;
}

iframe{
    padding: 10px 0 10px 20px;
}

/* BOTONES */
div{
    padding: 5px 0 0 20px;
}
div button{
    background-color: #454545;
    color: rgb(255, 165, 0);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.boton-activo{
    background-color: #787878;
}

/* EXIT */
#exit{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 25px;
    background-color: #454545;
    color: rgb(255, 165, 0);
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}